<%= simple_form_for(@programme_exercise) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.association :programme, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.association :exercise, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :order, label: 'Order of exercise in programme', input_html: { class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.input :tempo, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :time, label: 'Total time of tempo', input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :reps, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :rest, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :sets, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :time_per_set, input_html: { class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>
