<p id="notice"><%= notice %></p>

<p>
  <strong>Programme:</strong>
  <%= @programme_exercise.programme %>
</p>

<p>
  <strong>Exercise:</strong>
  <%= @programme_exercise.exercise %>
</p>

<p>
  <strong>Exercise:</strong>
  <%= @programme_exercise.exercise %>
</p>

<p>
  <strong>Tempo:</strong>
  <%= @programme_exercise.tempo %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @programme_exercise.sets %>
</p>

<p>
  <strong>Order:</strong>
  <%= @programme_exercise.order %>
</p>

<p>
  <strong>Time:</strong>
  <%= @programme_exercise.time %>
</p>

<p>
  <strong>Rest:</strong>
  <%= @programme_exercise.rest %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @programme_exercise.sets %>
</p>

<p>
  <strong>Time per set:</strong>
  <%= @programme_exercise.time_per_set %>
</p>

<%= link_to 'Edit', edit_programme_exercise_path(@programme_exercise) %> |
<%= link_to 'Back', programme_exercises_path %>
