<h1>Listing supersets</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Sets</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @supersets.each do |superset| %>
      <tr>
        <td><%= superset.name %></td>
        <td><%= superset.description %></td>
        <td><%= superset.sets %></td>
        <td><%= link_to 'Show', superset %></td>
        <td><%= link_to 'Edit', edit_superset_path(superset) %></td>
        <td><%= link_to 'Destroy', superset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Superset', new_superset_path %>
